@import url('https://fonts.googleapis.com/css?family=Liu+Jian+Mao+Cao&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}


body {

    background:url("../images/bg.png");
    background-attachment: fixed;
    color:black;
    font-family: 'Liu Jian Mao Cao', cursive;
    text-align: center;
    font-weight: 1000;

}

.header nav{
    background: black;
    color:black;
    overflow: hidden;
    font-size: 2em;
 
}

.header nav ul li {
    list-style: none;
    color:black;
    display:inline-block;
    padding:0px;
    margin: 0px;
    text-decoration: none;

}

.header nav ul li a{

    padding: 10px 104.6px;
    display: inline-block;
    text-decoration: none;
}

 nav ul li a:hover{

    background-color: black;
    
}

.main .articulos{


    width: 68.5%;
    margin-right: 1.5%;
    float: left;
    background: rgba(3, 154, 180, 0.979);
}

 .perfil{

    float: left;
    width: 28%;
    padding: 3.0em;
    border-width: 2em;
    background: rgb(6, 131, 12);
    background-size: 2em;
    color: rgb(50, 2, 139);


}

.perfil .logotipo img{
    /*border-radius: 50%;*/
    border: groove 1em #95E06C;  
  border-radius: 2em;
  
}

.perfil p{
    color: black;
    padding: 10px;

}

.parrafo p{
    color:aliceblue;
    font-size: 50px;
    text-align: center;
    padding: 100px;
}

  img{
    border-right: 100%;
}

div .parrafo{

    height: 250px;
    width: 100%;
      
}

h2{
    margin: 30px ;
}

p{
   color:black;
   text-align: justify;
   padding: 20px;
   line-height: 20pt;

}

.footer{
    width: 100%;
    display: flex;
    background: black;

}

.footer p{
    color:black;
}

.footer p{
    text-align: center;
}
